html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 1280px;


}

.header {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.cointainer {
    
    width: 100%;
    margin: 0 auto;
    padding: 5px 0px;
}

.cointainer2 {
    
    max-width: 1150px;
    margin: 10px 100px;
    padding: 5px 0;

}

.cointainer--header .cointainer2 {
    display: flex;
    justify-content: space-between;

}

.cointainer--nav+.cointainer--figure .cointainer {
    display: flex;
    align-items: center;
}

.cointainer--figure {
    margin-left: 10px;

}

.cointainer--nav .cointainer2 {
    height: 10px;
    width: 30px;
}

.cointainer--nav {
    display: flex;
    align-items: center;
}

.cointainer--article {
    flex-basis: 33.333%;
    padding: 1.5rem;
    text-align: center;
    color: white;
}

.logo {
    height: 70px;
    width: 70px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 20px;
    text-decoration: none;
    height: 40px;
    min-width: 60px;
    color: white;
    list-style: none;
}

.cta-button {
    border-radius: 10px;
    min-width: 200px;
    height: 50px;
    color: white;
    border: none;
    background-color: green;
    font-size: 1, 5rem;
    padding: 0, 5rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.cta-button:hover {
    background-color: rgb(118, 208, 118);
}

.hero__logo {
    border: 10px solid white;
    border-radius: 10px;
    width: 400px;
    height: 250px;
}

.main {
    background-color: black;
}

.features {
    display: flex;
    padding-top: 2rem;
    color: white
}

.feature {
    flex-basis: 33.333%;
    padding: 1.5rem;
    text-align: center;
    color: rgb(105, 105, 105);
}

.features__icon {
    font-size: 3rem;
    border: 2px solid white;
    background-color: silver;
    border-radius: 50px;
}
.logos{
    margin: 0;
    padding: 0;
}
.logo__imac{
    width: 45%;
}
.article{
    display: inline;
}
.footer{
    background-color: rgb(28, 28, 28);
}
.footer__logo{
 margin-left: 45%
}
.article1 , .article2{
    width: 48%;
    display: inline-block;
    align-items: center;
}
article{
    width: 100%;
}